[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
pycodestyle = "*"
pydocs = "*"
pydocstyle = "*"
pyflakes = "*"

[packages]
boto3 = "*"
click = "*"
pyflakes = "*"

[requires]
python_version = "3.8"
