[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"

[dev-packages]
ipython = "*"
pyflakes = "*"
pycodestyle = "*"
pylint = "*"
pydocstyle = "*"
setuptools = "*"

[requires]
python_version = "3.10"
